numpy~=1.18.0
scipy~=1.5.4
sklearn~=0.0
scikit-learn~=0.23.2
pyaudio~=0.2.11

quan-sample1.wav
quan-sample2.wav
quan-sample3.wav
quan-sample4.wav
quan-sample5.wav
quan-sample6.wav
quan-sample7.wav
quan-sample8.wav
quan-sample9.wav
quan-sample10.wav
quan-sample11.wav
quan-sample12.wav
quan-sample13.wav
quan-sample14.wav